body {
  height: 100vh;
  margin: 0;
  background: linear-gradient(to bottom right, #485563, #29323c);
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-form {
  display: grid;
  background-color: white;
  padding: 20px; 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box; 
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  color: #333;
  display: block;
  margin-bottom: 8px;
}

input {
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box; 
}

.tr-btn {
  cursor: pointer;
  transition: background-color 0.6s;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.tr-btn:hover {
  background-color: #45a049;
}
